@use "src/styles.scss" as theme;

.title-container {
    @include theme.flexCol;
    width: 90%;

    .header-title {
        font-weight: 700;
        color: theme.$primary;
        width: 90%;
    }

    .header-additional-info {
        font-style: italic;
        font-size: 0.8rem;
    }
}

.dialog-content {
    @include theme.flexCol;
    line-height: 1.5rem;
    margin-bottom: 0.7rem;
}

.footer-item {
    @include theme.flexRow;
    flex-wrap: nowrap;
}
