<div class="container">
    <div class="parent">
        <div class="picture-container">
            <img src="assets/images/photo.jpg" alt="portrait" class="picture" />
        </div>

        <div class="content">
            <h1 class="title">Myriam Mira</h1>

            <div class="items">
                <!-- LOCALISATION -->
                <span class="item">
                    <i class="fa-regular fa-flag"></i>
                    <span>Basée en Île-de-France</span>
                </span>

                <!-- MOBILITE -->
                <span class="item">
                    <i class="fa-solid fa-bus-simple"></i>
                    <span>Permis B | vélo</span>
                </span>
                <!-- LINKEDIN -->
                <span class="item">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <a
                        href="https://www.linkedin.com/in/myriam-mira/"
                        target="_blank"
                        >LinkedIn</a
                    >
                </span>

                <!-- GITHUB -->
                <span class="item">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/myracodes" target="_blank"
                        >GitHub</a
                    >
                </span>

                <!-- LANGUES -->
                <span class="item">
                    <i class="fa-regular fa-comments"></i>
                    <span>Bilingue anglais / français</span>
                </span>

                <!-- DEV -->
                <span class="item">
                    <i class="fa-solid fa-code"></i>
                    <span>Spécialité front-end</span>
                </span>
            </div>
        </div>
    </div>
</div>
