Myriam MIRA

<div>
  <span>
    <i class="fa-regular fa-envelope"></i>
    <a href="mailto:benhmyriam@gmail.com">benhmyriam@gmail.com</a>
  </span>

  <span>
    <i class="fa-brands fa-github"></i>
    <a href="https://github.com/myracodes">GitHub</a>
  </span>
  <span>
    <i class="fa-solid fa-house-heart"></i>
    <span>Basée en Île-de-France</span>
  </span>
  <span>
    <i class="fa-light fa-person-biking"></i>
    <span>Permis B | vélo</span>
  </span>
  <span>
    <i class="fa-brands fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/myriam-mira/">LinkedIn</a>
  </span>
  <span>
    <i class="fa-brands fa-linkedin"></i>
    <span>Bilingue anglais / français</span>
  </span>

</div>