<div class="container">
    <div class="parent">
        <img src="assets/images/photo.jpg" alt="portrait" class="picture" />

        <div class="content">
            <h1 class="title">Myriam Mira</h1>

            <div class="items">
                <span class="item">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="mailto:benhmyriam@gmail.com"
                        >benhmyriam@gmail.com</a
                    >
                </span>
                <span class="item">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/myracodes">GitHub</a>
                </span>
                <span class="item">
                    <i class="fa-regular fa-flag"></i>
                    <span>Basée en Île-de-France</span>
                </span>
                <span class="item">
                    <i class="fa-solid fa-bus-simple"></i>
                    <span>Permis B | vélo</span>
                </span>
                <span class="item">
                    <i class="fa-brands fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/myriam-mira/"
                        >LinkedIn</a
                    >
                </span>
                <span class="item">
                    <i class="fa-brands fa-linkedin"></i>
                    <span>Bilingue anglais / français</span>
                </span>
            </div>
        </div>
    </div>
</div>
