@use "src/styles.scss" as theme;

.bg-container {
    background-color: theme.$primary;
    margin-bottom: 40px;
}

.parent {
    color: white;
    @include theme.flexRow;
    @include theme.flexCenter;
    padding: 30px 50px;
    max-width: 1200px;
    min-height: fit-content;
    margin: auto;

    .picture-container {
        order: 1;
        border: 3px solid white;
        overflow: hidden;
        border-radius: 9999px;
        margin-left: auto;
        margin-right: auto;
        width: 8.5rem;
        height: 8.5rem;
        transition: all 0.3s ease-in;
        @include theme.flexRow;
        @include theme.flexCenter;
        &:hover {
            border: 5px solid white;

            .picture {
                transform: scale(1.2);
                border: none;
            }
        }
    }

    .picture {
        width: 9rem;
        height: 9rem;
        border-radius: 9999px;
        margin-right: 25px;
        margin-left: 25px;
        margin: 25px;
        transition: all 0.3s ease-in;
        @include theme.flexRow;
        @include theme.flexCenter;
    }

    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0 auto 2rem auto;
    }

    .content {
        @include theme.flexCol;
        @include theme.flexCenter;
        width: 70%;
        order: 2;

        .items {
            display: grid;
            column-gap: 40px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

            .item {
                @include theme.flexRow;
                align-items: center;
                margin-top: 5px;
                margin-bottom: 5px;
                text-decoration-color: white;
            }

            i {
                width: 20px;
                margin-right: 15px;
            }
        }
    }

    @include theme.smallScreen {
        .content {
            width: 210px;
            margin-left: auto;
            margin-right: auto;
            order: 1;

            .items {
                margin-left: unset;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(5, 1fr);
            }
        }
        .picture-container {
            order: 2;
        }
    }

    @include theme.extraSmallScreen {
        .picture-container {
            display: none;
        }
    }
}
