@use "src/_mixins.scss" as mixins;
@use "src/_variables.scss" as vars;

$padding: 2rem;

// Host element
app-dialog {
    @include mixins.flexRow;
    flex-wrap: wrap;
    min-width: fit-content;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 0.2rem;
}

app-dialog app-button button {
    @include mixins.flexRow;
    flex-wrap: nowrap;
    width: fit-content;
    min-height: 1rem;
    height: fit-content;
    font-weight: bold;
    font-size: 0.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.15rem 0.55rem;
}

// Container element
.p-dialog.p-component {
    background-color: white;
    position: absolute;
    border: 0.5rem solid;
    border-radius: 0;
    border-color: vars.$peach vars.$coral vars.$coral vars.$peach;
    width: min(95vw, 600px);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;

    // Override PrimeNG button styles within the dialog - necessary for the color and animation to work properly
    --p-button-text-secondary-color: #{vars.$primary};
}

// Header
.p-dialog .p-dialog-header {
    @include mixins.flexRow;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start !important;
    text-transform: uppercase;
    padding: $padding;
}

// Close icon element
.p-dialog .p-dialog-close-button {
    background-color: transparent;
    color: vars.$primary;
    font-weight: 800;
    border: none;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transform-origin: center center;

    svg {
        display: block;
        transform-origin: center center;
    }

    &:hover {
        animation:
            spin-rainbow 0.4s ease-in-out,
            rainbow-icon 0.4s linear normal;
    }
}

// Maximize button
.p-dialog .p-dialog-maximize-button {
    &:hover {
        animation:
            rainbow-icon 0.4s linear normal,
            grow-icon 0.4s ease-in-out;
    }
}

.p-dialog .p-dialog-header-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@keyframes spin-rainbow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow-icon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rainbow-icon {
    0% {
        filter: hue-rotate(0deg) saturate(3);
    }
    100% {
        filter: hue-rotate(360deg) saturate(3);
    }
}

// Content element
.p-dialog .p-dialog-content {
    padding: calc($padding / 2) $padding;
}

// Footer element
.p-dialog .p-dialog-footer {
    padding: $padding;
    @include mixins.flexRow;
    flex-wrap: wrap;
    justify-content: flex-end;
}
