<button
    class="dialog-button"
    type="button"
    (click)="showDialog()"
    aria-label="Ouvrir la modale de détails"
    id="open-modal-button"
>
    {{ buttonLabel }}
</button>
<p-dialog header="{{ content.header }}" [(visible)]="isVisible">
    <ng-template pTemplate="header">
        <span class="title-container">
            <span class="header-title">{{ content.header[0] }}</span>
            <span class="header-subtitle">{{ content.header[1] }}</span>
            <span class="header-additional-info">{{ content.header[2] }}</span>
        </span>
    </ng-template>

    <p *ngFor="let paragraph of content.paragraphs" class="dialog-content">
        {{ paragraph }}
    </p>

    <ng-template pTemplate="footer">
        <span
            *ngFor="let item of content.stack; let i = index; let last = last"
            class="footer-item"
        >
            <span class="colored">
                {{ item }}
            </span>
            <app-separator *ngIf="!last" />
        </span>
    </ng-template>
</p-dialog>
