@use "src/styles.scss" as theme;

$padding: 2rem;

:host {
    @include theme.flexRow;
    flex-wrap: wrap;
    min-width: fit-content;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 0.2rem;
}

// Container element
::ng-deep .p-dialog {
    background-color: white;
    position: absolute;
    border: 0.1rem solid theme.$primary;
    border-radius: 10px;
    width: min(95vw, 600px);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
}

::ng-deep app-button button {
    @include theme.flexRow;
    flex-wrap: nowrap;
    width: fit-content;
    min-height: 1rem;
    height: fit-content;
    font-weight: bold;
    font-size: 0.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.15rem 0.55rem;
}

// Header
::ng-deep .p-dialog-header {
    @include theme.flexRow;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start !important;
    text-transform: uppercase;
    padding: $padding;
}

// Close icon element
::ng-deep .p-dialog-header-close {
    background-color: transparent;
    color: theme.$primary;
    font-weight: 800;
    border: none;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transform-origin: center center;

    svg {
        display: block;
        transform-origin: center center;
    }

    &:hover {
        animation: spin-rainbow 0.4s ease-in-out,
            rainbow-icon 1s linear infinite;
    }
}

@keyframes spin-rainbow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rainbow-icon {
    0% {
        filter: sepia(1) saturate(4) hue-rotate(0deg);
    }
    100% {
        filter: sepia(1) saturate(4) hue-rotate(360deg);
    }
}

// Content element
::ng-deep .p-dialog-content {
    padding: calc($padding/2) $padding;
}

// Footer element
::ng-deep .p-dialog-footer {
    padding: $padding;
    @include theme.flexRow;
    flex-wrap: wrap;
    justify-content: flex-end;
}
