@use "src/styles.scss" as theme;

:host {
    max-width: 1200px;
}

.title {
    width: 100%;
    color: theme.$primary;
    margin: auto;

    h1,
    h6 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h1 {
        margin-bottom: 15px;
    }
    h6 {
        margin-bottom: 50px;
    }
}

.app-content {
    max-width: min(1100px, 90vw);
    margin-left: auto;
    margin-right: auto;
    @include theme.flexRow;
    flex-wrap: nowrap;
    gap: 20px;

    .col {
        @include theme.flexCol;
        margin-left: auto;
        margin-right: auto;
    }

    .col-1 {
        width: 65%;
        max-width: 550px;
    }

    .col-2 {
        width: 30%;
    }
}
