<app-header></app-header>
<span class="title">
    <h1>Développeuse web fullstack</h1>
    <h6>Bonus experise en gestion de projets && pâtisserie végétale</h6>
</span>

<div class="app-content">
    <span class="col col-1">
        <app-professional-xp></app-professional-xp>
        <app-pro-skills></app-pro-skills>
    </span>
    <span class="col col-2">
        <app-education></app-education>
        <app-certifications></app-certifications>
        <app-skills></app-skills>
        <app-activities class></app-activities>
    </span>
</div>
<footer>Made with love, tea, Angular, and a podcast in the background.</footer>
