<div>
    <app-title [title]="'Formation'"></app-title>
    <!-- WCS -->
    <section>
        <h4 class="colored">
            <a
                href="https://www.wildcodeschool.com/fr-FR/formations/formation-developpeur-web-alternance"
                target="_blank"
                >Développement web et mobile avancé</a
            >
        </h4>

        <p>Wild Code School (2021 - 2022 / 1 an)</p>
        <p>100% remote</p>
        <p>
            <strong> Titre RNCP niveau 6 / Bac+3/4 </strong>
        </p>
        <p>
            <em>Typescript</em>, <em>React</em>, <em>NodeJS</em>,
            <em>MongoDB</em>, <em>MySQL</em>, <em>GraphQL</em>,
            <em>Cypress</em>, <em>Docker</em>, <em>Flutter</em>,
            <em>React Native</em>, <em>Figma</em>, microservices,
            authentification, déploiement, sécurité, SCRUM, DevOps, intégration
            continue
        </p>
    </section>

    <!-- IRONHACK -->
    <section>
        <h4 class="colored">
            <a href="https://www.ironhack.com/en/web-development/paris">
                Développement web fullstack
            </a>
        </h4>

        <p>Ironhack (2021 / 2 mois)</p>
        <p>Cursus anglophone / 100 % remote</p>
        <p>
            <strong> Titre RNCP niveau 6 / Bac+3/4 </strong>
        </p>
        <p>
            <em>HTML</em>, <em>CSS</em>, <em>Javascript</em>, <em>NodeJS</em>,
            <em>ExpressJS</em>, <em>MongoDB</em>, <em>ReactJS</em>
        </p>
    </section>

    <!-- AUTOFORMATION -->
    <section>
        <h4 class="colored">HTML, CSS, Javascript</h4>

        <p>Autoformation (2021 / 6 mois)</p>
        <p>freeCodeCamp, CodeCademy et autres</p>
    </section>

    <!-- COMM & MKG -->
    <section>
        <h4 class="colored">Communication & Marketing (5 ans)</h4>

        <p>Spécialité digital / culture / multimédias</p>
        <p>
            <strong> Master : </strong>
            Sup de Pub – INSEEC (2018)
        </p>
        <p>
            <strong> Licence Pro : </strong>
            Université de Cergy-Pontoise (2016)
        </p>
    </section>
</div>
