<div>
    <app-title [title]="'Formation'" />

    <!-- WCS -->
    <section>
        <h4 class="colored">
            <a
                href="https://www.wildcodeschool.com/fr-FR/formations/formation-developpeur-web-alternance"
                target="_blank"
                >Développement web et mobile avancé</a
            >
        </h4>

        <p class="small">Wild Code School (2021 - 2022) – 100% remote</p>
        <p>
            <em *ngFor="let item of wildCodeSchoolSkills; let last = last"
                >{{ item }}
                <app-separator *ngIf="!last" />
            </em>
        </p>
    </section>

    <!-- IRONHACK -->
    <section>
        <h4 class="colored">
            <a href="https://www.ironhack.com/en/web-development/paris">
                Développement web fullstack
            </a>
        </h4>

        <p class="small">Ironhack (2021) – Cursus anglophone – 100 % remote</p>
        <p>Titre RNCP niveau 6 / Bac+3/4</p>
        <p>
            <em *ngFor="let item of ironhackSkills; let last = last"
                >{{ item }}
                <app-separator *ngIf="!last" />
            </em>
        </p>
    </section>

    <!-- COMM & MKG -->
    <section>
        <h4 class="colored">Communication & Marketing (5 ans)</h4>

        <p>Spécialité digital / culture / multimédias</p>
        <p>
            <strong> Master : </strong>
            Sup de Pub – INSEEC (2018)
        </p>
        <p>
            <strong> Licence Pro : </strong>
            Université de Cergy-Pontoise (2016)
        </p>
    </section>
</div>
