<div>
    <app-title [title]="'Formation'"></app-title>
    <!-- Certifs -->
    <section>
        <h4 class="colored">Certifications</h4>
        <p>
            Microsoft <em> AZ-900 </em>, Microsoft
            <em> PL-900 </em>
        </p>
    </section>

    <!-- WCS -->
    <section>
        <h4 class="colored">
            <a
                href="https://www.wildcodeschool.com/fr-FR/formations/formation-developpeur-web-alternance"
                target="_blank"
                >Développement web et mobile avancé</a
            >
        </h4>

        <p class="small">Wild Code School (2021 - 2022) – 100% remote</p>
        <p>Titre RNCP niveau 6 / Bac+3/4</p>
        <p>
            <em> Microservices </em>, <em> authentification </em>,
            <em> déploiement </em>, <em> sécurité </em>, <em> SCRUM </em>,
            <em> DevOps </em>, <em> intégration continue </em>,
            <em> développement mobile </em>
        </p>
    </section>

    <!-- IRONHACK -->
    <section>
        <h4 class="colored">
            <a href="https://www.ironhack.com/en/web-development/paris">
                Développement web fullstack
            </a>
        </h4>

        <p class="small">Ironhack (2021) – Cursus anglophone – 100 % remote</p>
        <p>Titre RNCP niveau 6 / Bac+3/4</p>
        <p>
            <em>HTML</em>, <em>CSS</em>, <em>Javascript</em>, <em>NodeJS</em>,
            <em>ExpressJS</em>, <em>MongoDB</em>, <em>ReactJS</em>
        </p>
    </section>

    <!-- AUTOFORMATION -->
    <section>
        <h4 class="colored">HTML, CSS, Javascript</h4>

        <p class="small">Autoformation (2021)</p>
        <p>Bases du HTML5, CSS3, et Javascript</p>
    </section>

    <!-- COMM & MKG -->
    <section>
        <h4 class="colored">Communication & Marketing (5 ans)</h4>

        <p>Spécialité digital / culture / multimédias</p>
        <p>
            <strong> Master : </strong>
            Sup de Pub – INSEEC (2018)
        </p>
        <p>
            <strong> Licence Pro : </strong>
            Université de Cergy-Pontoise (2016)
        </p>
    </section>
</div>
