<section>
    <app-title [title]="'Compétences professionnelles'"></app-title>

    <span
        >Gestion de projets : <em>Trello</em>, <em>Asana</em>, <em>Jira</em>,
        <em>Notion</em>, <em>Azure DevOps</em>, Excel</span
    >
    <span>Langage : <em>Javascript (Typescript)</em></span>
    <span>Frameworks & librairies : <em>Angular</em>, <em>ReactJS</em></span>
    <span>CSS : <em>SCSS</em>, <em>Tailwind</em></span>
    <span>Contrôle de version : <em>GitHub</em>, <em>GitLab</em> </span>
    <span>Tests : <em>Cypress</em>, <em>Jest</em></span>
    <span>Méthodes agiles : <em>SCRUM</em></span>
    <span>Sensibilité à <em>l'UX/UI</em></span>
    <span
        >Design : création de librairies de composants (approche
        <em>design system</em>), <em>Figma</em>, <em>Storybook & Chromatic</em>,
        <em>Photoshop</em></span
    >
    <br />
    <span>Toujours enthousiaste à l'idée d'allonger cette liste !</span>
</section>
