<section>
    <app-title [title]="'Compétences professionnelles'"></app-title>

    <span><em>Gestion de projets :</em> Trello, Asana, Jira, Azure, Excel</span>
    <span>Langage : <em>Javascript</em></span>
    <span>Frameworks & librairies : <em>Angular</em>, <em>ReactJS</em></span>
    <span>CSS : <em>SCSS</em>, <em>Tailwind</em></span>
    <span>Contrôle de version : <em>GitHub</em>, <em>Azure DevOps</em></span>
    <span>Tests : <em>Cypress</em>, <em>Jest</em></span>
    <span>Méthodes agiles : <em>SCRUM</em></span>
    <span>Sensibilité à <em>l'UX</em></span>
    <span
        >Design : création de librairies de composants (approche
        <em>design system</em>), <em>Figma</em>, <em>Storybook</em>,
        <em>Photoshop</em></span
    >
    <br />
    <span>Toujours enthousiaste à l'idée d'allonger cette liste !</span>
</section>
