<section>
    <app-title [title]="'Compétences'" />

    <h3>Savoir-faire</h3>

    <span *ngFor="let item of professionalSkills">
        <span class="professional-skills-section">
            <h4>
                <em
                    >{{ item.sectionTitle
                    }}<span *ngIf="item.skills && item.skills.length > 0">
                        :&nbsp;</span
                    ></em
                >
            </h4>
            <p
                *ngFor="let skill of item.skills; let last = last"
                class="professional-skill"
            >
                {{ skill }}
                <app-separator *ngIf="!last" />
            </p>
        </span>
    </span>

    <span class="info"
        >Toujours enthousiaste à l'idée d'allonger cette liste !</span
    >

    <h3>Savoir-être</h3>
    <span *ngFor="let item of personalSkills">
        <span class="personal-skills-section">
            <h4>
                <em
                    >{{ item.sectionTitle
                    }}<span *ngIf="item.skills && item.skills.length > 0">
                        :&nbsp;</span
                    ></em
                >
            </h4>
            <p
                *ngFor="let skill of item.skills; let last = last"
                class="personal-skill"
            >
                {{ skill }}
                <app-separator *ngIf="!last" />
            </p>
        </span>
    </span>
</section>
