<section>
    <app-title [title]="'Compétences'" />

    <h3 class="secondary">Savoir-faire</h3>

    <span *ngFor="let item of professionalSkills">
        <span class="professional-skills-section">
            <h4>
                <em>{{ item.sectionTitle }} :&nbsp;</em>
            </h4>
            <p
                *ngFor="let skill of item.skills; let last = last"
                class="professional-skill"
            >
                {{ skill }}
                <app-separator *ngIf="!last" />
            </p>
        </span>
    </span>

    <span class="info"
        >Toujours enthousiaste à l'idée d'allonger cette liste !</span
    >

    <h3 class="secondary">Savoir-être</h3>
    <div class="personal-skills">
        <span
            *ngFor="let skill of personalSkills; let last = last"
            class="skill"
        >
            <span>{{ skill }}</span>
            <app-separator *ngIf="!last" />
        </span>
    </div>
</section>
