@use "src/styles.scss" as theme;

section {
    @include theme.flexCol;
    line-height: 1.9rem;
}

.personal-skills {
    @include theme.flexRow;
    display: inline-flex;
    flex-wrap: wrap;
}

.professional-skills-section {
    display: inline;
}

.personal-skills-section {
    display: inline;
}

.personal-skills-section h4,
.professional-skills-section h4 {
    font-size: 1rem;
    font-weight: 400;
}

.personal-skills-section .personal-skill,
.personal-skills-section h4 {
    line-height: normal;
    display: inline;
}

.professional-skills-section .professional-skill,
.professional-skills-section h4 {
    line-height: normal;
    display: inline;
}

.skill-item {
    width: fit-content;
}

.info {
    padding-top: 4px;
    padding-bottom: 16px;
    font-size: 0.9rem;
}
