<section>
    <app-title [title]="'Compétences personnelles'"></app-title>

    <span>Experte en <em>organisation</em></span>
    <span>Sens du <em>service</em> & <em>esprit d'équipe</em></span>
    <span><em>Amélioration continue</em></span>
    <span>Grande <em>attention au détail</em></span>
    <span>Sens des <em>responsabilités</em></span>
    <span>Autonomie & <em>goût de l'apprentissage</em></span>
    <span>Orthographe & syntaxe (FR / EN)</span>
    <span>Vision <em>long terme</em></span>
    <span><em>Flexibilité</em></span>
</section>
