<div>
    <app-title [title]="'Expérience professionnelle'"></app-title>
    <em>test</em>
    <strong>test</strong>
    <h5>Développeuse web front-end</h5>
    <p class="colored">Avanade (2022 – présent)</p>
    <ul>
        <li>→ Projets internes (divers) : Angular, Typescript, SCSS</li>

        <li>
            → VEOLIA - portage d’application : Angular, Typescript, Tailwind
        </li>
    </ul>

    <ul>
        <li>
            <h5>
                Développeuse web fullstack GOOD Vibes / Visigo (2021 – 2022)
            </h5>
        </li>
        <li>
            → Refonte du site vitrine goodvibes.news : ReactJS → Améliorations
            back-end : NodeJS, AppDrag, SQL
        </li>

        <li>→ Améliorations front-end : ReactJS, Storybook, Chromatic</li>

        <li>
            → Implémentation de tests : Cypress, Jest → Suivi des erreurs :
            Sentry
        </li>

        <li>→ Contrôle de version : GitHub</li>
        <li>→ Maquettage / design : Figma</li>

        <li>
            → Amélioration continue : gestion de projets, documentation du code,
            améliorations des process internes
        </li>

        <li>
            → Mise en place de la stratégie SEO (visigo.fr) : Google Analytics,
            Search Console, HTML
        </li>
    </ul>

    <h5>Développement personnel (2019 – 2021)</h5>
    <ul>
        <li>→ Voyages et Permis Vacances-Travail (Europe, USA, Canada)</li>

        <li>→ Co-fondation Pourvoir Féministe, think tank politique</li>
        <li>→ Bénévolat, projets musicaux, projets personnels</li>
    </ul>
    <h5>
        Chargée de projets, communication, et événements BNP Paribas (2015 –
        2018)
    </h5>
    <ul>
        <li>
            → Développement des outils digitaux internes : architecture, design,
            implémentation, formation des collaborateur•ices
        </li>

        <li>
            → Organisation d’événements : jusqu’à 130 par an, de 10 à 150
            participant•es (logistique, communication, gestion in situ)
        </li>

        <li>
            → Mise à jour des sites intranet et internet : rédaction,
            correction, traduction, illustration, mise en ligne
        </li>
    </ul>
</div>
