<div>
    <app-title [title]="'Expérience professionnelle'"></app-title>

    <!-- DEV AVANADE -->
    <section>
        <h4>Développeuse web front-end</h4>
        <legend class="colored">Avanade (2022 – présent)</legend>
        <ul>
            <li>
                VEOLIA - portage d’une application ASP.NET : <em>Angular</em>,
                <em>Typescript</em>, <em>Tailwind CSS</em>, NgRx, méthode agile
                <em>(SCRUM)</em>, <em>Azure DevOps</em>
            </li>
            <li>
                Projets internes (divers) : <em>Angular</em>,
                <em>Typescript</em>,
                <em>SCSS</em>
            </li>
        </ul>
    </section>

    <!-- DEV GOOD VIBES -->
    <section>
        <h4>Développeuse web fullstack</h4>
        <legend class="colored">GOOD Vibes (2021 – 2022)</legend>
        <ul>
            <li>
                Refonte totale du site vitrine
                <a href="http://goodvibes.news" target="_blank"
                    >goodvibes.news</a
                >
                :
                <em>ReactJS</em>
            </li>
            <li>
                Améliorations back-end de la plateforme produit :
                <em>NodeJS</em>, <em>AppDrag</em>,
                <em>SQL</em>
            </li>
            <li>CI/CD, déploiement : <em>Netlify</em></li>

            <li>
                Développement front-end : <em>ReactJS</em>, <em>Storybook</em>,
                <em>Chromatic</em>
            </li>

            <li>Implémentation de tests : <em>Cypress</em>, <em>Jest</em></li>
            <li>Suivi des erreurs : <em>Sentry</em></li>
            <li>Contrôle de version : <em>GitHub</em></li>
            <li>Maquettage / design : <em>Figma</em></li>

            <li>
                Amélioration continue : gestion de projets, documentation du
                code, amélioration des processus internes
            </li>
        </ul>
    </section>

    <!-- DEV VISIGO -->
    <section>
        <h4>Chargée de projets web</h4>
        <legend class="colored">Visigo (2021 – 2022)</legend>
        <ul>
            <li>
                Mise en place de la stratégie SEO :
                <em>Google Analytics</em>, <em>Search Console</em>,
                <em>HTML</em>
            </li>
            <li>Maintenance du site internet</li>
            <li>Refonte de certaines pages</li>
            <li>
                Nombreuses corrections : forme (responsive) et fond
                (orthographe, syntaxe)
            </li>
        </ul>
    </section>

    <section>
        <h4>Développement personnel</h4>
        <legend class="colored">(2019 – 2021)</legend>
        <ul>
            <li>Voyages et Permis Vacances-Travail (Europe, USA, Canada)</li>

            <li>Co-fondation Pourvoir Féministe, think tank politique</li>
            <li>Bénévolat, projets musicaux, projets personnels</li>
        </ul>
    </section>

    <!-- COMMUNICATION -->
    <section>
        <h4>Chargée de projets, communication, et événements</h4>
        <legend class="colored">BNP Paribas (2015 – 2018)</legend>
        <ul>
            <li>
                Développement des outils digitaux internes : architecture,
                design, implémentation, formation des collaborateur•ices
            </li>

            <li>
                Organisation d’événements : jusqu’à 130 par an, de 10 à 150
                participant•es (logistique, communication, gestion in situ)
            </li>

            <li>
                Mise à jour des sites intranet et internet : rédaction,
                correction, traduction, illustration, mise en ligne
            </li>
        </ul>
    </section>
</div>
