<section>
    <app-title [title]="'Activités'"></app-title>
    <span> <em>Sport :</em> je nage ou je cours pendant le déjeuner </span>
    <span> <em>Musique :</em> je chante et je joue de la guitare </span>
    <span>
        <em>Bénévolat</em> et engagement : droits des Femmes, droits des
        animaux, écologie & environnement
    </span>
    <span> <em>Lecture :</em> tout ce qui me passe sous la main </span>
    <span> <em>Voyages :</em> idéalement en train !</span>
    <span>
        <em>Théâtre : </em>vaudeville, classique, opéra, stand-up, comédies
        musicales...
    </span>
</section>
