<section>
    <span i18n="@@activities.sport"><em>Sport&nbsp;:</em> le midi, je nage ou je cours</span>
    <span i18n="@@activities.music"><em>Musique&nbsp;:</em> chant, guitare, piano, banjolele 🪕</span>
    <span i18n="@@activities.volunteering"><em>Bénévolat</em> et engagement&nbsp;: droits des Femmes, droits des animaux, solidarité, écologie &amp; environnement</span>
    <span i18n="@@activities.reading"><em>Lecture&nbsp;:</em> tout ce qui me passe sous la main</span>
    <span i18n="@@activities.travel"><em>Voyages&nbsp;:</em> idéalement en train&nbsp;!</span>
    <span i18n="@@activities.theatre"><em>Théâtre&nbsp;:</em> vaudeville, classique, opéra, stand-up, comédie musicale...</span>
</section>
