@use "variables" as *;

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin flexCenter {
    align-items: center;
    justify-content: center;
}

@mixin rainbowText {
    background: $rainbow;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
