// font-family: 'Lexend', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
@import "src/_media-queries.scss";
@import "src/_mixins.scss";

$font-main: "Lexend", sans-serif;
$primary-50: #e4faff;
$primary-100: #d7eef5;
$primary-200: #b5dae4;
$primary-300: #90c4d2;
$primary-400: #71b2c3;
$primary-500: #5ca7bb;
$primary-600: #4fa2b7;
$primary-700: #3c8ea2;
$primary-800: #2f7e91;
$primary-900: #106d81;
$primary: $primary-600;
$primary-hover: $primary-700;
$primary-active: $primary-500;
$primary-light: $primary-300;
$white: #fafafa;
$black: #070f13;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-weight: 300;
    font-size: 16px;
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    color: $black;

    section {
        margin-bottom: 2rem !important;
    }

    a {
        color: unset;
        text-decoration: none;
        text-decoration-color: white;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.2rem;
            text-decoration-thickness: 0.05rem;
        }
    }

    em {
        color: $primary;
        font-style: normal;
        &:hover {
            color: $primary-hover;
        }
    }

    h5 {
        font-weight: 600;
        color: $primary;
    }

    h6 {
        font-size: 0.8rem;
        font-weight: 600;
        color: $primary;
    }

    .colored {
        color: $primary;
    }

    .italic {
        font-style: italic;
    }

    .small {
        font-size: 0.8rem;
    }

    @include extraLargeScreen {
        font-size: 1.2rem;
    }

    @include largeScreen {
        font-size: 1rem;
    }

    @include mediumScreen {
        font-size: 0.9rem;
    }

    @include smallScreen {
        font-size: 0.8rem;
    }

    @include extraSmallScreen {
        font-size: 0.7rem;
    }
}
