a {
    display: inline;
    text-decoration: none;
    color: inherit;

    span {
        text-decoration: none;
    }

    i {
        font-size: 0.875em;
        margin-left: 0.3em;
        display: inline-block;
        vertical-align: middle;
    }

    &:hover span {
        text-decoration: underline;
    }
}
